n8n-workflows/customer-onboard.json
{
  "name": "Customer Onboarding Sequence",
  "nodes": [
    {
      "parameters": {
        "path": "customer-onboard",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "onboard-webhook",
      "name": "Onboarding Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "customer-onboard"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.230:8069/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', params: { service: 'object', method: 'execute_kw', args: [$env.ODOO_DB, $env.ODOO_UID, $env.ODOO_API_KEY, 'res.partner', 'search_read', [[['email', '=', $json.body.email]]], { fields: ['id', 'name'], limit: 1 }] }, id: 1 }) }}",
        "options": {}
      },
      "id": "find-partner",
      "name": "Find Partner in Odoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "partner-exists",
              "leftValue": "={{ $json.result.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "check-partner",
      "name": "Partner Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.230:8069/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', params: { service: 'object', method: 'execute_kw', args: [$env.ODOO_DB, $env.ODOO_UID, $env.ODOO_API_KEY, 'res.partner', 'create', [{ name: $json.body.name || $json.body.email, email: $json.body.email, customer_rank: 1 }]] }, id: 1 }) }}",
        "options": {}
      },
      "id": "create-partner",
      "name": "Create Partner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 460]
    },
    {
      "parameters": {
        "fromEmail": "hello@aiqso.io",
        "toEmail": "={{ $json.body.email }}",
        "subject": "Welcome to AIQSO - Your Portal Access",
        "html": "<h1>Welcome to AIQSO!</h1>\n<p>Hi {{ $json.body.name || 'there' }},</p>\n<p>Thank you for joining AIQSO! Your customer portal is now ready.</p>\n<h2>What's Next?</h2>\n<ul>\n  <li><strong>Access Your Portal:</strong> <a href='https://portal.aiqso.io'>portal.aiqso.io</a></li>\n  <li><strong>View Invoices:</strong> Check your billing history anytime</li>\n  <li><strong>Download Reports:</strong> Access your lead generation lists</li>\n  <li><strong>Get Support:</strong> Our AI assistant is available 24/7</li>\n</ul>\n<p>If you have any questions, just reply to this email or use the chat on our portal.</p>\n<p>Best regards,<br>The AIQSO Team</p>"
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.231:9000/api/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.body.email, name: $json.body.name || '', lists: [2], status: 'enabled', preconfirm_subscriptions: true }) }}",
        "options": {}
      },
      "id": "add-to-listmonk",
      "name": "Add to Listmonk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "wait-3-days",
      "name": "Wait 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1570, 300],
      "webhookId": "followup-wait"
    },
    {
      "parameters": {
        "model": "general-assistant:latest",
        "messages": {
          "values": [
            {
              "content": "Generate a brief, personalized follow-up email for a new customer named {{ $json.body.name || 'there' }} who signed up for AIQSO services. Ask if they need help getting started and highlight one key feature. Keep it under 100 words and friendly."
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "generate-followup",
      "name": "AI Generate Follow-up",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "fromEmail": "quinn@aiqso.io",
        "toEmail": "={{ $('Onboarding Webhook').item.json.body.email }}",
        "subject": "Quick check-in - How's everything going?",
        "html": "={{ $json.message.content }}"
      },
      "id": "send-followup",
      "name": "Send Follow-up Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Onboarding sequence started' } }}"
      },
      "id": "respond-onboard",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 140]
    }
  ],
  "connections": {
    "Onboarding Webhook": {
      "main": [
        [
          {
            "node": "Find Partner in Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Partner in Odoo": {
      "main": [
        [
          {
            "node": "Partner Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Partner Exists?": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Partner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Partner": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add to Listmonk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Listmonk": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [
        [
          {
            "node": "AI Generate Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Follow-up": {
      "main": [
        [
          {
            "node": "Send Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "onboarding"
    },
    {
      "name": "customer"
    },
    {
      "name": "portal"
    }
  ]
}
