n8n-workflows/odoo-client-won-to-zammad.json
{
  "name": "Odoo Client Won → Create Zammad Customer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-won",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════\n// CONFIGURATION — Edit these values only\n// ═══════════════════════════════════════════\nconst ODOO_URL = 'http://192.168.0.237:8069';\nconst ODOO_DB = 'aiqso_db';\nconst ODOO_USERNAME = 'quinn@aiqso.io';\nconst ODOO_API_KEY = 'REPLACE_WITH_YOUR_ODOO_API_KEY';\nconst ZAMMAD_URL = 'https://helpdesk.aiqso.io';\nconst ZAMMAD_API_TOKEN = 'REPLACE_WITH_YOUR_ZAMMAD_API_TOKEN';\n// ═══════════════════════════════════════════\n\nreturn [{\n  json: {\n    odoo_url: ODOO_URL,\n    odoo_db: ODOO_DB,\n    odoo_username: ODOO_USERNAME,\n    odoo_api_key: ODOO_API_KEY,\n    zammad_url: ZAMMAD_URL,\n    zammad_token: ZAMMAD_API_TOKEN\n  }\n}];"
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.237:8069/xmlrpc/2/common",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', params: { service: 'common', method: 'authenticate', args: [$json.odoo_db, $json.odoo_username, $json.odoo_api_key, {}] }, id: 1 }) }}",
        "options": {}
      },
      "id": "auth-won",
      "name": "Odoo Authenticate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.237:8069/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', params: { service: 'object', method: 'execute_kw', args: [ $('Config').item.json.odoo_db, $json.result, $('Config').item.json.odoo_api_key, 'crm.lead', 'search_read', [[['stage_id.name', '=', 'Won'], ['write_date', '>=', new Date(Date.now() - 3600000).toISOString()]]], { fields: ['name', 'partner_name', 'contact_name', 'email_from', 'phone', 'partner_id'], limit: 50 } ] }, id: 2 }) }}",
        "options": {}
      },
      "id": "find-won",
      "name": "Find Recently Won Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-won",
              "leftValue": "={{ $json.result?.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "has-won-leads",
      "name": "Any Won Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "// Split won leads into individual items for processing\nconst leads = $input.first().json.result || [];\nconst config = $('Config').item.json;\nreturn leads\n  .filter(lead => lead.email_from)\n  .map(lead => ({\n    json: {\n      zammad_url: config.zammad_url,\n      zammad_token: config.zammad_token,\n      odoo_lead_name: lead.name,\n      email: lead.email_from,\n      firstname: (lead.contact_name || lead.partner_name || '').split(' ')[0] || '',\n      lastname: (lead.contact_name || lead.partner_name || '').split(' ').slice(1).join(' ') || '',\n      company: lead.partner_name || '',\n      phone: lead.phone || ''\n    }\n  }));"
      },
      "id": "split-leads",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://helpdesk.aiqso.io/api/v1/users/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $json.email }}" },
            { "name": "limit", "value": "1" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Token token={{ $json.zammad_token }}" }
          ]
        },
        "options": {}
      },
      "id": "check-zammad-user",
      "name": "Check Zammad User Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "user-missing",
              "leftValue": "={{ Array.isArray($json) ? $json.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "user-missing",
      "name": "User Missing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://helpdesk.aiqso.io/api/v1/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Token token={{ $('Split Into Items').item.json.zammad_token }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ firstname: $('Split Into Items').item.json.firstname, lastname: $('Split Into Items').item.json.lastname, email: $('Split Into Items').item.json.email, phone: $('Split Into Items').item.json.phone, organization: $('Split Into Items').item.json.company, roles: ['Customer'], active: true, note: 'Auto-created from Odoo Won lead: ' + $('Split Into Items').item.json.odoo_lead_name }) }}",
        "options": {}
      },
      "id": "create-zammad-user",
      "name": "Create Zammad Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 100]
    },
    {
      "parameters": {
        "channel": "#crm-updates",
        "text": "=:handshake: *New Client Added to Helpdesk*\n\n*Name:* {{ $('Split Into Items').item.json.firstname }} {{ $('Split Into Items').item.json.lastname }}\n*Email:* {{ $('Split Into Items').item.json.email }}\n*Company:* {{ $('Split Into Items').item.json.company }}\n*Source:* Odoo Won Lead\n\nCustomer can now submit tickets at <https://helpdesk.aiqso.io|helpdesk.aiqso.io>"
      },
      "id": "slack-new-client",
      "name": "Slack New Client",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2230, 100]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [[ { "node": "Config", "type": "main", "index": 0 } ]]
    },
    "Config": {
      "main": [[ { "node": "Odoo Authenticate", "type": "main", "index": 0 } ]]
    },
    "Odoo Authenticate": {
      "main": [[ { "node": "Find Recently Won Leads", "type": "main", "index": 0 } ]]
    },
    "Find Recently Won Leads": {
      "main": [[ { "node": "Any Won Leads?", "type": "main", "index": 0 } ]]
    },
    "Any Won Leads?": {
      "main": [
        [{ "node": "Split Into Items", "type": "main", "index": 0 }],
        []
      ]
    },
    "Split Into Items": {
      "main": [[ { "node": "Check Zammad User Exists", "type": "main", "index": 0 } ]]
    },
    "Check Zammad User Exists": {
      "main": [[ { "node": "User Missing?", "type": "main", "index": 0 } ]]
    },
    "User Missing?": {
      "main": [
        [{ "node": "Create Zammad Customer", "type": "main", "index": 0 }],
        []
      ]
    },
    "Create Zammad Customer": {
      "main": [[ { "node": "Slack New Client", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "helpdesk" }, { "name": "zammad" }, { "name": "CRM" }, { "name": "onboarding" }]
}
