n8n-workflows/zammad-odoo-sync.json
{
  "name": "Zammad → Odoo Ticket Sync (Loop-Safe)",
  "nodes": [
    {
      "parameters": {
        "path": "zammad-ticket",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "zammad-webhook",
      "name": "Zammad Ticket Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "zammad-ticket-sync"
    },
    {
      "parameters": {
        "jsCode": "// Extract ticket data from Zammad webhook payload\nconst ticket = $input.first().json.body?.ticket || $input.first().json.ticket;\nif (!ticket) {\n  throw new Error('No ticket data in webhook payload');\n}\n\nconst customer = ticket.customer || {};\nconst article = ticket.article || {};\n\n// Build normalized ticket object\nreturn [{\n  json: {\n    ticket_id: ticket.id,\n    ticket_number: ticket.number,\n    title: ticket.title,\n    state: ticket.state?.name || ticket.state || 'new',\n    priority: ticket.priority?.name || ticket.priority || 'normal',\n    group: ticket.group?.name || ticket.group || 'Users',\n    customer_email: customer.email || '',\n    customer_name: [customer.firstname, customer.lastname].filter(Boolean).join(' ') || customer.email || 'Unknown',\n    article_body: article.body || '',\n    created_at: ticket.created_at,\n    updated_at: ticket.updated_at,\n    zammad_url: `https://helpdesk.aiqso.io/#ticket/zoom/${ticket.id}`\n  }\n}];"
      },
      "id": "extract-ticket",
      "name": "Extract Ticket Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-new-ticket",
              "leftValue": "={{ $json.state }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "is-new-ticket",
      "name": "New Ticket?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.237:8069/xmlrpc/2/common",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', params: { service: 'common', method: 'authenticate', args: [$env.ODOO_DB, $env.ODOO_USERNAME, $env.ODOO_API_KEY, {}] }, id: 1 }) }}",
        "options": {}
      },
      "id": "odoo-auth",
      "name": "Odoo Authenticate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.237:8069/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', params: { service: 'object', method: 'execute_kw', args: [ $env.ODOO_DB, $('Odoo Authenticate').item.json.result, $env.ODOO_API_KEY, 'res.partner', 'search_read', [[['email', '=', $('Extract Ticket Data').item.json.customer_email]]], { fields: ['id', 'name', 'email'], limit: 1 } ] }, id: 2 }) }}",
        "options": {}
      },
      "id": "find-contact",
      "name": "Find Contact in Odoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.237:8069/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', params: { service: 'object', method: 'execute_kw', args: [ $env.ODOO_DB, $('Odoo Authenticate').item.json.result, $env.ODOO_API_KEY, 'crm.lead', 'create', [{ name: '[Zammad #' + $('Extract Ticket Data').item.json.ticket_number + '] ' + $('Extract Ticket Data').item.json.title, contact_name: $('Extract Ticket Data').item.json.customer_name, email_from: $('Extract Ticket Data').item.json.customer_email, partner_id: ($json.result && $json.result.length > 0) ? $json.result[0].id : false, description: 'Support ticket from Zammad\\n\\nTicket: #' + $('Extract Ticket Data').item.json.ticket_number + '\\nPriority: ' + $('Extract Ticket Data').item.json.priority + '\\nGroup: ' + $('Extract Ticket Data').item.json.group + '\\n\\nView: ' + $('Extract Ticket Data').item.json.zammad_url, type: 'opportunity' }], { context: { mail_create_nosubscribe: true, mail_create_nolog: true, mail_notrack: true, tracking_disable: true } } ] }, id: 3 }) }}",
        "options": {}
      },
      "id": "create-lead",
      "name": "Create Odoo Lead (No Email)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.237:8069/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', params: { service: 'object', method: 'execute_kw', args: [ $env.ODOO_DB, $('Odoo Authenticate').item.json.result, $env.ODOO_API_KEY, 'crm.lead', 'message_post', [$json.result], { body: '<p><strong>🎫 Zammad Ticket #' + $('Extract Ticket Data').item.json.ticket_number + '</strong></p><p>' + $('Extract Ticket Data').item.json.title + '</p><p>Priority: ' + $('Extract Ticket Data').item.json.priority + ' | <a href=\"' + $('Extract Ticket Data').item.json.zammad_url + '\">View in Zammad</a></p>', message_type: 'comment', subtype_xmlid: 'mail.mt_note' } ] }, id: 4 }) }}",
        "options": {}
      },
      "id": "log-note",
      "name": "Log Note on Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "channel": "#crm-updates",
        "text": "=:ticket: *New Support Ticket → Odoo Lead*\n\n*Ticket:* #{{ $('Extract Ticket Data').item.json.ticket_number }}\n*Title:* {{ $('Extract Ticket Data').item.json.title }}\n*Priority:* {{ $('Extract Ticket Data').item.json.priority }}\n*From:* {{ $('Extract Ticket Data').item.json.customer_email || 'Unknown' }}\n*Odoo Lead:* Created ✅\n\n<{{ $('Extract Ticket Data').item.json.zammad_url }}|View in Zammad> | <http://192.168.0.237:8069/web#model=crm.lead&view_type=form&id={{ $('Create Odoo Lead (No Email)').item.json.result }}|View in Odoo>"
      },
      "id": "slack-notify",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "channel": "#crm-updates",
        "text": "=:ticket: *Support Ticket Updated*\n\n*Ticket:* #{{ $('Extract Ticket Data').item.json.ticket_number }}\n*Title:* {{ $('Extract Ticket Data').item.json.title }}\n*State:* {{ $('Extract Ticket Data').item.json.state }}\n*From:* {{ $('Extract Ticket Data').item.json.customer_email || 'Unknown' }}\n\n<{{ $('Extract Ticket Data').item.json.zammad_url }}|View in Zammad>"
      },
      "id": "slack-update",
      "name": "Slack Update Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [910, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { received: true, ticket_number: $('Extract Ticket Data').item.json.ticket_number } }}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2010, 300]
    }
  ],
  "connections": {
    "Zammad Ticket Webhook": {
      "main": [
        [
          {
            "node": "Extract Ticket Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ticket Data": {
      "main": [
        [
          {
            "node": "New Ticket?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Ticket?": {
      "main": [
        [
          {
            "node": "Odoo Authenticate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Update Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Authenticate": {
      "main": [
        [
          {
            "node": "Find Contact in Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Contact in Odoo": {
      "main": [
        [
          {
            "node": "Create Odoo Lead (No Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Odoo Lead (No Email)": {
      "main": [
        [
          {
            "node": "Log Note on Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Note on Lead": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notification": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Update Notification": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "helpdesk"
    },
    {
      "name": "zammad"
    },
    {
      "name": "CRM"
    }
  ]
}
