n8n-workflows/zammad-odoo-sync.json
{
  "name": "Zammad → Odoo Ticket Sync (Loop-Safe)",
  "nodes": [
    {
      "parameters": {
        "path": "zammad-ticket",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "zammad-webhook",
      "name": "Zammad Ticket Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "zammad-ticket-sync"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════\n// CONFIGURATION — Edit these values only\n// ═══════════════════════════════════════════\nconst ODOO_URL = 'http://192.168.0.237:8069';\nconst ODOO_DB = 'aiqso_db';\nconst ODOO_USERNAME = 'quinn@aiqso.io';\nconst ODOO_API_KEY = 'REPLACE_WITH_YOUR_ODOO_API_KEY';\n// ═══════════════════════════════════════════\n\n// Extract ticket data from Zammad webhook payload\nconst input = $input.first().json;\nconst ticket = input.body?.ticket || input.ticket;\nif (!ticket) {\n  throw new Error('No ticket data in webhook payload');\n}\n\nconst customer = ticket.customer || {};\nconst article = ticket.article || {};\n\nreturn [{\n  json: {\n    // Config\n    odoo_url: ODOO_URL,\n    odoo_db: ODOO_DB,\n    odoo_username: ODOO_USERNAME,\n    odoo_api_key: ODOO_API_KEY,\n    // Ticket data\n    ticket_id: ticket.id,\n    ticket_number: ticket.number,\n    title: ticket.title,\n    state: ticket.state?.name || ticket.state || 'new',\n    priority: ticket.priority?.name || ticket.priority || 'normal',\n    group: ticket.group?.name || ticket.group || 'Users',\n    customer_email: customer.email || '',\n    customer_name: [customer.firstname, customer.lastname].filter(Boolean).join(' ') || customer.email || 'Unknown',\n    article_body: article.body || '',\n    created_at: ticket.created_at,\n    updated_at: ticket.updated_at,\n    zammad_url: `https://helpdesk.aiqso.io/#ticket/zoom/${ticket.id}`\n  }\n}];"
      },
      "id": "config-extract",
      "name": "Config & Extract Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-new-ticket",
              "leftValue": "={{ $json.state }}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "is-new-ticket",
      "name": "New Ticket?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://192.168.0.237:8069/xmlrpc/2/common",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', params: { service: 'common', method: 'authenticate', args: [$('Config & Extract Ticket').item.json.odoo_db, $('Config & Extract Ticket').item.json.odoo_username, $('Config & Extract Ticket').item.json.odoo_api_key, {}] }, id: 1 }) }}",
        "options": {}
      },
      "id": "odoo-auth",
      "name": "Odoo Authenticate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.237:8069/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', params: { service: 'object', method: 'execute_kw', args: [ $('Config & Extract Ticket').item.json.odoo_db, $('Odoo Authenticate').item.json.result, $('Config & Extract Ticket').item.json.odoo_api_key, 'res.partner', 'search_read', [[['email', '=', $('Config & Extract Ticket').item.json.customer_email]]], { fields: ['id', 'name', 'email'], limit: 1 } ] }, id: 2 }) }}",
        "options": {}
      },
      "id": "find-contact",
      "name": "Find Contact in Odoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.237:8069/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', params: { service: 'object', method: 'execute_kw', args: [ $('Config & Extract Ticket').item.json.odoo_db, $('Odoo Authenticate').item.json.result, $('Config & Extract Ticket').item.json.odoo_api_key, 'crm.lead', 'create', [{ name: '[Zammad #' + $('Config & Extract Ticket').item.json.ticket_number + '] ' + $('Config & Extract Ticket').item.json.title, contact_name: $('Config & Extract Ticket').item.json.customer_name, email_from: $('Config & Extract Ticket').item.json.customer_email, partner_id: ($json.result && $json.result.length > 0) ? $json.result[0].id : false, description: 'Support ticket from Zammad\\n\\nTicket: #' + $('Config & Extract Ticket').item.json.ticket_number + '\\nPriority: ' + $('Config & Extract Ticket').item.json.priority + '\\nGroup: ' + $('Config & Extract Ticket').item.json.group + '\\n\\nView: ' + $('Config & Extract Ticket').item.json.zammad_url, type: 'opportunity' }], { context: { mail_create_nosubscribe: true, mail_create_nolog: true, mail_notrack: true, tracking_disable: true } } ] }, id: 3 }) }}",
        "options": {}
      },
      "id": "create-lead",
      "name": "Create Odoo Lead (No Email)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.237:8069/xmlrpc/2/object",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ jsonrpc: '2.0', method: 'call', params: { service: 'object', method: 'execute_kw', args: [ $('Config & Extract Ticket').item.json.odoo_db, $('Odoo Authenticate').item.json.result, $('Config & Extract Ticket').item.json.odoo_api_key, 'crm.lead', 'message_post', [$json.result], { body: '<p><strong>Zammad Ticket #' + $('Config & Extract Ticket').item.json.ticket_number + '</strong></p><p>' + $('Config & Extract Ticket').item.json.title + '</p><p>Priority: ' + $('Config & Extract Ticket').item.json.priority + ' | <a href=\"' + $('Config & Extract Ticket').item.json.zammad_url + '\">View in Zammad</a></p>', message_type: 'comment', subtype_xmlid: 'mail.mt_note' } ] }, id: 4 }) }}",
        "options": {}
      },
      "id": "log-note",
      "name": "Log Note on Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "channel": "#crm-updates",
        "text": "=:ticket: *New Support Ticket → Odoo Lead*\n\n*Ticket:* #{{ $('Config & Extract Ticket').item.json.ticket_number }}\n*Title:* {{ $('Config & Extract Ticket').item.json.title }}\n*Priority:* {{ $('Config & Extract Ticket').item.json.priority }}\n*From:* {{ $('Config & Extract Ticket').item.json.customer_email || 'Unknown' }}\n*Odoo Lead:* Created\n\n<{{ $('Config & Extract Ticket').item.json.zammad_url }}|View in Zammad> | <http://192.168.0.237:8069/web#model=crm.lead&view_type=form&id={{ $('Create Odoo Lead (No Email)').item.json.result }}|View in Odoo>"
      },
      "id": "slack-notify",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "channel": "#crm-updates",
        "text": "=:ticket: *Support Ticket Updated*\n\n*Ticket:* #{{ $('Config & Extract Ticket').item.json.ticket_number }}\n*Title:* {{ $('Config & Extract Ticket').item.json.title }}\n*State:* {{ $('Config & Extract Ticket').item.json.state }}\n*From:* {{ $('Config & Extract Ticket').item.json.customer_email || 'Unknown' }}\n\n<{{ $('Config & Extract Ticket').item.json.zammad_url }}|View in Zammad>"
      },
      "id": "slack-update",
      "name": "Slack Update Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [910, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { received: true, ticket_number: $('Config & Extract Ticket').item.json.ticket_number } }}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2010, 300]
    }
  ],
  "connections": {
    "Zammad Ticket Webhook": {
      "main": [[ { "node": "Config & Extract Ticket", "type": "main", "index": 0 } ]]
    },
    "Config & Extract Ticket": {
      "main": [[ { "node": "New Ticket?", "type": "main", "index": 0 } ]]
    },
    "New Ticket?": {
      "main": [
        [{ "node": "Odoo Authenticate", "type": "main", "index": 0 }],
        [{ "node": "Slack Update Notification", "type": "main", "index": 0 }]
      ]
    },
    "Odoo Authenticate": {
      "main": [[ { "node": "Find Contact in Odoo", "type": "main", "index": 0 } ]]
    },
    "Find Contact in Odoo": {
      "main": [[ { "node": "Create Odoo Lead (No Email)", "type": "main", "index": 0 } ]]
    },
    "Create Odoo Lead (No Email)": {
      "main": [[ { "node": "Log Note on Lead", "type": "main", "index": 0 } ]]
    },
    "Log Note on Lead": {
      "main": [[ { "node": "Slack Notification", "type": "main", "index": 0 } ]]
    },
    "Slack Notification": {
      "main": [[ { "node": "Respond OK", "type": "main", "index": 0 } ]]
    },
    "Slack Update Notification": {
      "main": [[ { "node": "Respond OK", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "helpdesk" }, { "name": "zammad" }, { "name": "CRM" }]
}
